.fresh {
    min-height: 604px;
    margin-bottom: 150px;
    &__top {
        height: 73px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    &__text {
        display: flex;
        flex-direction: column;
        &-title {

        }
        &-subtitle {
            font-size: 38px;
            font-family: 'AeonikTRIAL-LightItalic';
            font-weight: 300;
            span {
                font-family: 'RecifeDisplay-italic';
                font-weight: 400;
            }
        }
    }
    &__btn {
        font-size: 18px;
        color: $second-color;
        background-color: $main-color;
        border: none;
        text-align: center;
        height: 50px;
        width: 144px;
        border-radius: 30px;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 370px);
        justify-content: space-between;
        font-family: "RMNeueTRIAL-Regular";
        font-size: 18px;
        font-weight: 400;
    }
    &__item {
        width: 370px;
        height: 480px;
        &-img {
            margin-bottom: 27px;
        }
        &-size {
            color: #AAAAAA;
            margin-bottom: 8px;
        }
        &-price {
            margin-bottom: 20px;
            display: flex;
            &-new{
                margin-right: 20px;
            }
            &-old{
                color: #AAAAAA;
                text-decoration: line-through;
            }
        }
        &-best {
            color: $second-color;
        }
    }
}